<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>DETAIL INFORMATION : </h1>

    <div class="user">

        <h2>User ID : <%=post.id %></h2>
        <h2>User Name : <%=post.name %></h2>
        <h2>content : <%=post.content %></h2>

    </div>

</body>
</html>